<div class="containerToolbar">
  <div class="title">
    <p>the poets coffee</p>
    <div class="linhaE">
      <hr class="quebras quebra1" />
      <div class="subtitle">
        <p>by:</p> 
        <p class="nameL">l u c a.</p>
      </div>
    </div>
    
  </div>
  
  <div class="menuBar">
    <ul class="menu-list">
      <li class="menu-item"><a href="/" class="menu-link">Home</a></li>
      <li class="menu-item"><a href="/cardapio" class="menu-link">Cardápio</a></li>
      <li class="menu-item"><a href="/contato" class="menu-link">Contato</a></li>
    </ul>
  </div>
<hr class="quebras quebra2" />


</div>
<router-outlet />
